<div class="bg-dark p-3 text-center " style="width:100%; height:100%; color:#fff">
    <h5 style="margin-top: 25px;"> ™️ ALL Rights Reserved</h5>
    <h6>2016 - 2021</h6>
    <h6>
        Contact us at contact@yelpcamp.com
    </h6>
</div>
</body>

</html>